{% extends 'template.html.twig' %}

{% block title %}
    To Do
{% endblock %}

{% block body %}

    {% block PageTitle %}
        Liste des To Do :
    {% endblock %}

    <ol class="list-group">
        {% for name,content in app.session.get('toDo') %}
        <li class="list-group-item">
            {{ name }} : {{ content }}
        </li>
        {% endfor %}
    </ol>

{% endblock %}
